absl-py==1.4.0
accelerate==0.20.3
aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.13
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asgiref==3.7.2
asttokens==2.2.1
async-timeout==4.0.3
attr==0.3.1
attrs==23.1.0
azure-core==1.27.1
azure-storage-blob==12.16.0
Babel==2.12.1
backcall==0.2.0
black==23.7.0
bleach==5.0.1
boto==2.49.0
boto3==1.16.63
botocore==1.19.63
boxing==0.1.4
Brotli==1.0.9
cachetools==5.3.1
cairocffi==1.6.0
CairoSVG==2.7.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.2.1
cmake==3.26.4
colorama==0.4.6
comm==0.1.3
configobj==5.0.8
contourpy==1.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==41.0.1
cssselect2==0.7.0
cycler==0.11.0
datasets==2.14.4
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
Django==3.2.19
django-annoying==0.10.6
django-cors-headers==3.6.0
django-debug-toolbar==3.2.1
django-extensions==3.1.0
django-filter==2.4.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rest-swagger==2.2.0
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.13.1
docopt==0.6.2
docutils==0.20.1
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
drf-yasg==1.20.0
executing==1.2.0
expiringdict==1.2.2
filelock==3.12.2
fonttools==4.40.0
frozenlist==1.4.0
fsspec==2023.6.0
fvcore==0.1.5.post20221221
google-api-core==2.11.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.2
google-cloud-logging==2.7.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.4
grpcio==1.56.0
grpcio-status==1.48.2
h5py==3.9.0
html5lib==1.1
htmlmin==0.1.12
huggingface-hub==0.15.1
hydra-core==1.3.2
idna==3.4
ijson==3.2.2
imagesize==1.4.1
importlib-metadata==6.7.0
inflection==0.5.1
iopath==0.1.9
ipykernel==6.23.2
ipython==8.14.0
isodate==0.6.1
itypes==1.2.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonschema==3.2.0
jupyter_client==8.2.0
jupyter_core==5.3.1
kiwisolver==1.4.4
label-studio==1.8.0
label-studio-converter==0.0.53
label-studio-sdk==0.0.28
label-studio-tools==0.0.2
langdetect==1.0.9
launchdarkly-server-sdk==7.5.0
lit==16.0.6
lockfile==0.12.2
lxml==4.9.2
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.4.2
matplotlib-inline==0.1.6
mplcursors==0.5.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.6.7
numpy==1.23.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
openapi-codec==1.3.2
opencv-python==4.7.0.72
ordered-set==4.0.2
packaging==23.1
pandas==1.5.3
parso==0.8.3
pathspec==0.11.2
pdf2image==1.16.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.4.13
platformdirs==3.7.0
portalocker==2.7.0
prompt-toolkit==3.0.38
proto-plus==1.22.3
protobuf==3.20.3
psutil==5.9.5
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post4
pycocotools==2.0.6
pycparser==2.21
pydantic==1.10.9
pydyf==0.6.0
Pygments==2.15.1
PyMuPDF==1.22.5
pyparsing==3.1.0
pypdfium2==3.21.1
pyphen==0.14.0
pyRFC3339==1.1
pyrsistent==0.19.3
python-dateutil==2.8.1
-e git+https://github.com/mindee/doctr.git@31f05c8320aea3db757c9be2d1589c8ee11fe2f9#egg=python_doctr
python-json-logger==2.0.4
PythonTurtle==0.3.2
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.1.0
rapidfuzz==3.1.1
redis==3.5.3
regex==2023.6.3
requests==2.28.0
requests-oauthlib==1.3.1
rq==1.10.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
rules==2.2
s3transfer==0.3.7
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
semver==2.13.0
sentry-sdk==1.26.0
seqeval==1.2.2
Shapely==1.8.5.post1
simplejson==3.19.1
six==1.16.0
sklearn==0.0.post5
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
stack-data==0.6.2
sympy==1.12
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
triton==2.0.0
typing_extensions==4.6.3
tzdata==2023.3
ua-parser==0.16.1
ujson==5.8.0
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.16
user-agents==2.2.0
wcwidth==0.2.6
weasyprint==59.0
webencodings==0.5.1
Werkzeug==2.3.6
xmljson==0.2.0
xxhash==3.3.0
yacs==0.1.8
yarg==0.1.9
yarl==1.9.2
zipp==3.15.0
zopfli==0.2.2
